<h1>About</h1>

<h4>Share you ideas with the world and find others.</h4>

<p>
  I'm a girl with passion in technology.I just love coding. Besides coding, I love dancing,listening to music,reading novels and all.
  Whenever I get free time people can see me either being busy in laptop or catching one of the books.
  I seem quite weird to most people because of my behaviour.
</p>

<p>
  Since, I love doing coding I was going through some sites on the internet where I got to know about Techrise.
  Techrise is one of the coding bootcamp in nepal where we can become a web developer in just 2-3 months.
  In order to get enrolled in Techrise one needs to complete the assigned pre-work within the estimated time period.
  once the pre-work is completed, one should sit through a small interview.
  It's the place where people learn to teach themself.Techrise mainly focus on Ruby On Rails.
  The best thing or part of Techrise that I loved most is that we don't have to attend the daily office hour classes,we can just finish
  our assignments from wherever we like. Not only this we can have one on one mentor session every week.
  This helps oneself to explore more and be self learner.
</p>



