html,
body {
  h1.normal {
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    padding: 25px 50px;
  }

  height: 100%;
  /* The html and body elements cannot have any padding or margin. */


.panel-body{
  background:#FFCCFF;
  padding: 24px 16px;
  font-size: 20px;
  font-style: italic;


}
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -120px;
  /* Pad bottom by footer height */
  padding: 0 0 120px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 120px;
  background-color: #FAEBD7;
}

  .navbar-brand{
  font-family: 'Dancing Script', cursive;
}

.navbar-default{
  background-color: white;
}

.navbar-default .navbar-brand{
  font-weight: 75px;
  font-size: 30px;
}
